<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar bg-secondary">
      <div class="container-fluid justify-content-end">
        <a href="/create" class="btn btn-light fw-semibold">Create</a>
      </div>
    </nav>

    <div class="container p-3">
      <br />
      <% for(let notes of getAllNotes) {%>
      <a
        href="/notes/<%= notes._id %>/read "
        class="text-decoration-none text-dark"
      >
        <div class="card p-2 bg-light mx-auto" style="width: 28rem">
          <div class="card-body">
            <p class="card-text"><%= notes.title %></p>
            <!-- <h6 class="card-subtitle mb-2 text-muted">
              <%= notes.createdAt %>
            </h6> -->
          </div>
        </div>
      </a>
      <br />
      <% } %>
    </div>
  </body>
</html>
